/* small device */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  /* .nav-container {
    flex-direction: column;
  } */
  .nav-container .nav-logo {
    width: 100%;
  }
  .nav-container .nav-logo h1 .web-title {
    font-size: 1.2rem;
  }
  .nav-container .nav-logo img {
    width: 3rem;
  }
  .nav-container .nav-menu {
    width: 100%;
  }
  .nav-container .nav-menu ul li{
    display: none;
  }
  .nav-container .nav-menu ul li:last-child{
    display: inline;
    margin-left: 7.5rem;
  }
  .banner-container .banner-description {
    padding-top: 2rem;
   
  }
  .banner-container .banner-description h1{
    font-size: 1.2rem;
    color: #a5a4a4;
  }
  .banner-container .banner-description p{
    margin-top: .5rem;
    color: #a1a1a1;
  }
  .banner-container .banner-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20rem;
    margin-top: 1rem;
    
  }
  .banner-container .banner-button .travel-button{
    margin: .6rem auto;
    width: 90%;
    text-align: left;
  }
  .banner-container .banner-button #button-4{
    text-align: center;
  }
  .banner-container .banner-button .fa-angle-down{
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }
}
