/* small device */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-container .nav-logo {
    width: 100%;
  }
  .nav-container .nav-logo h1 .web-title {
    font-size: 1.3rem;
  }
  .nav-container .nav-menu {
    width: 100%;
  }
}
