/* shared style */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  border: 2px solid red;
  max-width: 1440px;
  width: 81%;
  margin: 0 auto;
}
.primary-title {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.primary-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.primary-button {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  padding: .8rem 2rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* nav style */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.nav-container .nav-logo {
  width: 48%;
  display: flex;
  align-items: center;
}
.nav-container .nav-logo h1 {
  color: #131318;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-container .nav-logo h1 .web-title {
  color: #fd5400;
  font-size: 2.5rem;
}
.nav-container .nav-logo img {
  width: 5rem;
}
.nav-container .nav-menu {
  width: 48%;
  white-space: nowrap;
}
.nav-container .nav-menu ul {
  display: flex;
  justify-content: space-between;
}
.nav-container .nav-menu ul li {
  list-style: none;
}
.nav-container .nav-menu ul li:last-child {
  display: none;
}
.nav-container .nav-menu ul a {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-container .nav-menu ul li span {
  color: #fd5400;
}

/* banner style */
.banner-container {
  height: 31.25rem;
  margin-top: 3rem;
  background-image: url("../images/Group13\(1\)\(1\).png");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-size: cover;
  object-fit: cover;
}
.banner-container .banner-description {
  text-align: center;
  padding-top: 6.25rem;
}
.banner-container .banner-description h1 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner-container .banner-description p {
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.banner-button {
  width: 70%;
  margin: auto;
  height: 5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-button button {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 0.9rem 1rem 0.9rem;
  border-radius: 8px;
  background: #fff;
  border: none;
}
.banner-container .banner-button .travel-button {
  width: 12rem;
}
.banner-button button .fa-angle-down {
  padding-left: 3rem;
}
.banner-button #when {
  padding-left: 5.5rem;
}
.banner-button button .fa-magnifying-glass {
  padding-left: 1.5rem;
  padding-right: 0.4rem;
}
.banner-button #button-4 {
  background-color: #ff5400;
  color: #fff;
  padding-right: 2rem;
}
/* our-popular-tour style */
.our-tours-container {
  margin-top: 7rem;
}
.our-tours-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-tours-description {
  border: 1px solid green;
  width: 48%;
}
.our-tours-image {
  border: 1px solid blue;
  width: 48%;
}
.our-tours-image img {
  width: 100%;
}
