/* shared style */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  border: 2px solid red;
  max-width: 1440px;
  width: 81%;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-logo {
  border: 2px solid green;
  width: 48%;
  display: flex;
  align-items: center;
}
.nav-container .nav-logo h1 {
  color: #131318;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-container .nav-logo h1 .web-title {
  color: #fd5400;
  font-size: 2.5rem;
}
.nav-container .nav-logo img {
  width: 5rem;
}


.nav-container .nav-menu {
  border: 2px solid blue;
  width: 48%;
  white-space: nowrap;
}
.nav-container .nav-menu ul {
  display: flex;
  justify-content: space-between;
}
.nav-container .nav-menu ul li {
  list-style: none;
}
.nav-container .nav-menu ul a {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-container .nav-menu ul li span{
    color:#fd5400;
}
