/* shared style */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  border: 2px solid red;
  max-width: 1440px;
  width: 81%;
  margin: 0 auto;
}
.primary-title {
  color: #131318;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.primary-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.primary-button {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  padding: 0.8rem 2rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* nav style */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.nav-container .nav-logo {
  width: 48%;
  display: flex;
  align-items: center;
}
.nav-container .nav-logo h1 {
  color: #131318;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-container .nav-logo h1 .web-title {
  color: #fd5400;
  font-size: 2.5rem;
}
.nav-container .nav-logo img {
  width: 5rem;
}
.nav-container .nav-menu {
  width: 48%;
  white-space: nowrap;
}
.nav-container .nav-menu ul {
  display: flex;
  justify-content: space-between;
}
.nav-container .nav-menu ul li {
  list-style: none;
}
.nav-container .nav-menu ul li:last-child {
  display: none;
}
.nav-container .nav-menu ul a {
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-container .nav-menu ul li span {
  color: #fd5400;
}

/* banner style */
.banner-container {
  height: 31.25rem;
  margin-top: 3rem;
  background-image: url("../images/Group13\(1\)\(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.banner-container .banner-description {
  text-align: center;
  padding-top: 6.25rem;
}
.banner-container .banner-description h1 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.banner-container .banner-description p {
  margin-top: 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.banner-button {
  width: 70%;
  margin: auto;
  height: 5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-button button {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem 0.9rem 1rem 0.9rem;
  border-radius: 8px;
  background: #fff;
  border: none;
}
.banner-container .banner-button .travel-button {
  width: 12rem;
}
.banner-button button .fa-angle-down {
  padding-left: 3rem;
}
.banner-button #when {
  padding-left: 5.5rem;
}
.banner-button button .fa-magnifying-glass {
  padding-left: 1.5rem;
  padding-right: 0.4rem;
}
.banner-button #button-4 {
  background-color: #ff5400;
  color: #fff;
  padding-right: 2rem;
}
/* our-popular-tour style */
.our-tours-container {
  margin-top: 7rem;
}
.our-tours-container .our-tours-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-tours-container .our-tours-content .our-tours-description {
  width: 48%;
}
.our-tours-container .our-tours-content .our-tours-description h1,
p {
  margin-bottom: 1.5rem;
}
.our-tours-container .our-tours-content .our-tours-image {
  width: 48%;
}
.our-tours-container .our-tours-content .our-tours-image img {
  width: 100%;
}
.our-tours-container .our-tours-content button {
  margin-top: 2rem;
}

/* Your destination style */
.destination-container {
  margin-top: 6.25rem;
}
.destination-container h1,
p {
  text-align: center;
}
.destination-container h1 {
  margin-bottom: 1.5rem;
}
.destination-container p {
  margin-bottom: 3rem;
}
.destination-container .destination-image img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  border-radius: 1rem;
}
.destination-container .destination-image {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.maldive {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}
.bali {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
}
.srilanka {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}
.america {
  grid-column: 5 / span 5;
  grid-row: 2 / span 1;
}
.kashmir {
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
}
.bangladesh {
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
}
.bandarban {
  grid-column: 7 / span 6;
  grid-row: 3 / span 1;
}
/* local bites section */
.local-bites-container{
  margin-top: 6.25rem;
}
.local-bites-container .local-bites-content{
  height: 31.25rem;
  background-image: url('../images/food3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  text-align: center;
}
.local-bites-container .local-bites-content h1{
  color: whitesmoke;
  padding-top: 6.25rem;
}

/* why choose us style */
.choose-container {
  margin-top: 6.25rem;
}
.choose-container h1 {
  text-align: center;
}
.choose-container > p {
  margin: 1.5rem auto 3rem;
  width: 35rem;
}
.choose-container .choose-us-card h2 {
  font-size: 1.5rem;
}
.choose-container .choose-us-card img {
  width: 4rem;
}
.choose-container .choose-us-card {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.choose-container .choose-us-card .card {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 38.8rem;
  padding: 2rem 3.5rem 2rem 2rem;
}
.choose-container .choose-us-card .card h2 {
  margin: 1.5rem auto 1rem;
}
/* newsletter style */
.newsletter-container {
  margin-top: 6.25rem;
}
.newsletter-container .newsletter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter-container .newsletter-content .newsletter-field {
  border: 1px solid #ff5400;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 48%;
}
.newsletter-container .newsletter-content .newsletter-field h2 {
  font-size: 1.5rem;
  margin: 2.5rem 0 1rem;
  padding-left: 2.5rem;
}
.newsletter-container .newsletter-content .newsletter-field p {
  padding-left: 2.5rem;
}
.newsletter-container .newsletter-content .newsletter-field hr {
  margin: 0 2.5rem;
}
.newsletter-container .newsletter-content .newsletter-field input,
button {
  width: 80%;
  margin: 1.5rem auto 0.5rem;
}
.newsletter-container .newsletter-content .newsletter-field input {
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}
.newsletter-container .newsletter-content .newsletter-image {
  width: 48%;
  position: relative;
}
.newsletter-container .newsletter-content .newsletter-image img {
  width: 100%;
}
.newsletter-container .newsletter-content .newsletter-image .save {
  text-align: center;
  width: 50%;
  color: #fff;
  border-radius: 16px;
  background: #ff5400;
  padding: 1.5rem 0;
  position: absolute;
  bottom:14%;
  left: 49%;
  transform: rotate(-19.628deg);
}
.newsletter-container .newsletter-content .newsletter-image .save h3{
  font-size: 1.2rem;
}
.newsletter-container .newsletter-content .newsletter-image .save h1{
  font-size: 2rem;
}

/* footer style */
footer{
  margin-top: 6.25rem;
  background: rgba(19, 19, 24, 0.05);
}

.footer-title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6.27rem;
}
.footer-title span{
  color: #ff5400;
}
.footer-container> p{
width: 40rem;
margin: 0 auto;
}
.footer-container hr{
  margin-bottom: 3rem;
}
.footer-title img{
  width: 5rem;
}
footer .footer-icons{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto 3rem;
}
footer .footer-icons .icons .fa-brands{
 font-size: 1.8rem;
}
